<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="ReportService" class="demo1.ReportService" autowire="no">
    <property name="master" ref="pdf" />
    <property name="records" value="100" />
    </bean>
    
    <bean id="pdf" class="demo1.pdf" />

    
    
    
    </beans>
    